name: workflow

on:
  push:
    branches:
     - main

permissions: 
  id-token: write
  contents: read

jobs:
  integration:  
    name: Continuous Integration
    runs-on: ubuntu-latest
    environment: MLops_GCP
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
  
        
      # Authenticate with GCP using the service account key
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'  # Add your service account key as a GitHub secret


      # Configure Docker to use the Google Container Registry (GCR) or Artifact Registry
      - name: Set up Cloud SDK
       uses: google-github-actions/setup-gcloud@v1
       with:
         project_id: '${{ secrets.GCP_PROJECT_ID }}'


      - name: Docker auth
        run: |-
          gcloud auth configure-docker ${{ env.GCP_LOCATION }}-docker.pkg.dev

      # Set up environment variables for the image details
      - name: Set image details
        id: image_details
        run: |
          echo "IMAGE_NAME=${{ secrets.GCP_PROJECT_ID }}/churn-image" >> $GITHUB_ENV
          

      # Build, tag, and push image to Google Container Registry
      - name: Build, tag, and push image to GCR
        id: build-image
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
        run: |
          docker build -t ${{ env.GCP_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/churn-image-repo/$IMAGE_NAME:latest .
          docker push ${{ env.GCP_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/churn-image-repo/$IMAGE_NAME:latest
      

