name: workflow

on:
  push:
    branches:
     - main

permissions: 
  id-token: write
  contents: read

jobs:
  integration:  
    name: Continuous Integration
    runs-on: ubuntu-latest
    environment: MLops_GCP
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      # Authenticate with GCP using the service account key
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Docker auth
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      # Set up environment variables for the image details
      - name: Set image details
        id: image_details
        run: |
          echo "IMAGE_NAME=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/churn-image-repo/churn-image" >> $GITHUB_ENV
          echo "IMAGE_TAG=latest" >> $GITHUB_ENV
          
      # Build, tag, and push image to Google Container Registry
      # - name: Build Docker image
      #   run: |
      #     docker build -t ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .
      #     docker push ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  deployment:
    name: Continuous Deployment
    needs: integration
    runs-on: self-hosted
    environment: MLops_GCP
    steps:
      # - name: Checkout
      #   uses: actions/checkout@v3
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

      - name: List Docker images
        run: |
          gcloud artifacts docker images list us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/churn-image-repo

      - name: Debug Environment Variables
        run: |
          echo "IMAGE_NAME=${{ env.IMAGE_NAME }}"
          echo "IMAGE_TAG=${{ env.IMAGE_TAG }}"
      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy churn-service \
            --image=${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
            --region=us-central1 \
            --platform=managed \
            --allow-unauthenticated \
            --project=${{ secrets.GCP_PROJECT_ID }}

