name: workflow

on:
  push:
    branches:
     - main

permissions: 
  id-token: write
  contents: read

jobs:
  integration:  
    name: Continuous Integration
    runs-on: ubuntu-latest
    environment: MLops_GCP
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
  
        
      # Authenticate with GCP using the service account key
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'  # Add your service account key as a GitHub secret


      # Configure Docker to use the Google Container Registry (GCR) or Artifact Registry
      - name: Configure Docker to use gcloud command-line tool
        run: |
          gcloud auth configure-docker --quiet

      # Set up environment variables for the image details
      - name: Set image details
        id: image_details
        run: |
          IMAGE_NAME=gcr.io/${{ secrets.GCP_PROJECT_ID }}/churn-image
          echo "IMAGE_TAG=latest" >> $GITHUB_ENV

      # Build, tag, and push image to Google Container Registry
      - name: Build, tag, and push image to GCR
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          docker build -t $IMAGE_NAME:IMAGE_TAG .
          docker push $IMAGE_NAME:IMAGE_TAG
      

